doctype html
html
  head
    title= title
    style(type="text/css").
      html, body {
        padding: 0;
        margin: 0;
      }
      html {
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
    | !{styles}
  body
    block content
    script.
      window.__INITIAL_DATA__ = !{serverData}
    
    script(src="/webpack/" + appHash)
    script(src="/webpack/" + vendorHash)
